TestInputDetermineAction(
    template_source: "some/source",
    write_target: "some/target",
    content_of_write_target: [
        NodeEntryMeta(
            node_type: File,
            source_path: "/some/target/a",
        )
    ],
    content_of_template_folder: [
        NodeEntryMeta(
            node_type: File,
            source_path: "/some/target/a",
        ),
        NodeEntryMeta(
            node_type: File,
            source_path: "/some/target/b",
        ),
    ]   
)
