[
    (
        path: "go",
        nodes: [
            File(
                path: "main.go",
                content: "fn main ...",
            ),
        ],
    ),
    (
        path: "rust",
        nodes: [
            Folder(
                path: "src",
            ),
            File(
                path: "src/main.rs",
                content: "
                fn main() { 
                   println!(\"hello world\")
                } 
                ",
            ),
        ],
    ),
]
